<div class="container about-us-content center">
	<h2>Hi, I'm Carlos.</h2> <br>

<h4>This is a Web Application inspired in pinterest.</h4>

<h4>You can Sign Up, Sign in. Create a Pin and publish what you want.</h4>

<h4>I use Heroku to deploy my app and Amazon S3 to storage the images</h4>
</div>