<div class="jumbotron center">
  <h1>Welcome To Pin-terested App</h1> <br>
  <p>Here you can post pins and enjoy</p>
  <!-- <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg'%>
  <%= link_to "Login", new_user_session_path, class: 'btn btn-primary btn-lg'%> -->
  <%= link_to "List Pins", pins_path, class: "btn btn-default"%>
</div>