.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
	background-color: #cb2027 !important;
  	border-color: #cb2027 !important;
}

.center{
	text-align: center;
}

.pins-page-main{
 	background: #181818;
 	padding: 1px;
 }

.panel-footer{
	height: 55px;
}

.edit-profile-footer{
	height: 200px;
}

#pins{
	margin: 0 auto;
}

.box{
	margin:5px;
	width:214px;
}

.box img{
	width:100%;
}

.main-pins-panel{
	  border-color: #fff !important;
	  border-radius: 0 !important;
	  border: 1px solid #fff !important;
}

.jumbotron{

	border-radius: 0 !important;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.jumbotron {
  padding: 18px 0 !important;
}

.about-us-content{
	background: #181818;
	color: #fff;
}